<nav>
    <img src="../../../assets/img/icons/APlogo.png" id="APlogo">
    <span>#YoProgramo</span>
    <ul>
        <li>
            <a href="#"><i class="fa-brands fa-2xl fa-linkedin"></i></a>
        </li>
        <li>
            <a href="https://gitlab.com/quirogatdf"><i class="fa-brands fa-2xl fa-github-square"></i></a>
        </li>
        <li>
            <a *ngIf="!isLogged" href="login"><i class="fa-solid fa-2xl fa-right-to-bracket"></i></a>
            <a *ngIf="isLogged"><i class="fa-solid fa-2xl fa-right-from-bracket" (click)="onLogout()"></i></a>
        </li>
    </ul>
</nav>