<app-social></app-social>

<div class="background-login">
</div>
<div class="container logueado" *ngIf="isLogged; else loggedOut">
    <h2 >Ya has iniciado sesión.</h2>
    <a href="/">Volver al sitio.</a>
</div>

<ng-template #loggedOut>
    <div class="login">
        <form class="custom-form" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
            <h1>Bienvenido</h1>
            <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="username"
                required />

            <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="password"
                required="required" />
            <button type="submit" [disabled]="!f.valid">Iniciar sesion</button>
            <div class="form-group">

                <div class="alert alert-danger" *ngIf="f.submitted && isLoginFail">username o contraseña incorrecta.
                </div>
            </div>
        </form>
        <a href="/" style="text-align: center;">Volver al sitio.</a>
    </div>
</ng-template>