<app-social></app-social>
<div class="background-login"></div>

    
    <div class="login">
        <form class="custom-form">
            <h1>Bienvenido</h1>
            <input class="form-control" [(ngModel)]="username" type="text" name="username" placeholder="Username"
            required />
            <input [(ngModel)]="password" type="password" name="password" placeholder="Password" required="required" />
            
            <button type="submit" (click)="login()">Iniciar sesion</button>
        </form>
        <a href="/" style="text-align: center;">Volver al sitio.</a>
    </div>
