<div class="card-title">
    <h2>Educación</h2>
    <i href="#" class="fa-solid fa-square-plus fa-lg"></i>

</div>

<ul class="items-list">
    <li>
        <div class="row row-cols-auto">
            <div class="col-md-2 col-xs-12">
                <img class="img-fluid"
                    src="https://visualpharm.com/assets/699/Organization-595b40b65ba036ed117d0afe.svg" alt="img-organization">
            </div>
            <div class="col-md-10 col-xs-12 mt-4">
                <div class="card-title">
                    <div>
                        <h3>Colegio Provincial Dr Ernesto Guevara</h3>
                        <h4>Trayecto Técnico Profesional en Informática Profesional y Personal</h4>
                        <h5>(xx/xx/xx - present)</h5>
                    </div>
                    <div>
                        <i href="#" class="fa-solid fa-square-pen fa-lg"></i>
                        <i href="#" class="fa-solid fa-square-xmark fa-lg"></i>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>