<h2>Hard & Softs Skills</h2>
<div class="card-hard-skills">
<circle-progress
[percent]="100"
[radius]="55"
[space]="-10"
[title]= "'HTML'"
[showSubtitle]="false"
[showUnits]="false"
[showInnerStroke]="true"
[outerStrokeGradient]="true"
[outerStrokeWidth]="10"
[outerStrokeColor]="'#4882c2'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[innerStrokeColor]="'#95dfe4'"
[innerStrokeWidth]="10"
[imageSrc]="'/assets/img/icons/html5.svg'"
[showImage]="true"
[imageWidth]="60"
[imageHeight]="60"
[animation]="true"
[animationDuration]="400"
[clockwise]="true"
[startFromZero]="true"
[showBackground]="false"
></circle-progress>
<circle-progress
[percent]="90"
[radius]="55"
[space]="-10"
[title]= "'CSS'"
[showSubtitle]="false"
[showUnits]="false"
[showInnerStroke]="true"
[outerStrokeGradient]="true"
[outerStrokeWidth]="10"
[outerStrokeColor]="'#4882c2'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[innerStrokeColor]="'#95dfe4'"
[innerStrokeWidth]="10"
[imageSrc]="'/assets/img/icons/css.svg'"
[showImage]="true"
[imageWidth]="45"
[imageHeight]="60"
[animation]="true"
[animationDuration]="400"
[clockwise]="true"
[startFromZero]="true"
[showBackground]="false"
></circle-progress>
<circle-progress
[percent]="80"
[radius]="55"
[space]="-10"
[title]= "'JS'"
[showSubtitle]="false"
[showUnits]="false"
[showInnerStroke]="true"
[outerStrokeGradient]="true"
[outerStrokeWidth]="10"
[outerStrokeColor]="'#4882c2'"
[outerStrokeGradientStopColor]="'#53a9ff'"
[innerStrokeColor]="'#95dfe4'"
[innerStrokeWidth]="10"
[imageSrc]="'/assets/img/icons/js.svg'"
[showImage]="true"
[imageWidth]="43"
[imageHeight]="60"
[animation]="true"
[animation]="true"
[animationDuration]="400"
[clockwise]="true"
[startFromZero]="true"
[showBackground]="false"
></circle-progress>
</div>
<div class="card-soft-skills">

</div>