<div class="card-title">
    <h2>Experiencia</h2>
    <i href="#" class="fa-solid fa-square-plus fa-lg"></i>

</div>

<ul class="items-list">
    <li>
        <div class="row row-cols-auto">
            <div class="col-md-2 col-xs-12">
                <img class="img-fluid"
                    src="https://visualpharm.com/assets/699/Organization-595b40b65ba036ed117d0afe.svg">
            </div>
            <div class="col-md-10 col-xs-12">
                <div class="card-title">
                    <div>
                        <h3>Colegio Provincial Cmte. Luis Piedrabuena</h3>
                        <h4>Referente informático</h4>
                        <h5>(xx/xx/xx - present)</h5>
                    </div>
                    <div>
                        <i href="#" class="fa-solid fa-square-pen fa-lg"></i>
                        <i href="#" class="fa-solid fa-square-xmark fa-lg"></i>
                    </div>
                </div>
                <div class="card-content">
                    <h4>Descripción</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis nostrum delectus quaerat tempore
                        nemo
                        eius? Illo voluptas quod hic quae delectus impedit modi magni corrupti vero, ratione
                        voluptatibus,
                        enim
                        aperiam.
                    </p>
                </div>
            </div>
        </div>
    </li>
</ul>