h2{
    padding-bottom: 1.5rem;
}
ul {
    list-style-type: none;
    margin-top: 0.5rem;
}

img{
    height: 9rem;
    position:relative;
    object-fit: cover;
    overflow: hidden;
    width: 9rem;
}
@media screen and (max-width:500px) {
    .img-experience{
        margin-bottom: 1rem;
    }
    
}